{% extends 'worldcup/base.html' %}

{% block content %}

<div class="container">


<h2 class="text-center mb-4">
    About Us
</h2>

<div class="card p-4">

    <p>
        FIFA World Cup 2026 is a fan-made website that provides
        live scores, standings, teams, players, knockout stages,
        match highlights and latest football news.
    </p>

    <p>
        Our goal is to help football fans follow the FIFA World Cup
        with fast and accurate updates.
    </p>

    <p>
        Developed by Fawaz using Django and modern web technologies.
    </p>

</div>


</div>

{% endblock %}
