{% extends 'worldcup/base.html' %}

{% block content %}

<div class="container">


<h2 class="text-center mb-4">
    📞 Contact Us
</h2>

<div class="card p-4 shadow">

    <h4>🏆 FIFA World Cup 2026 Fan Website</h4>

    <p>
        Have questions, suggestions, or feedback?
        Feel free to contact us.
    </p>

    <hr>

    <p>
        📧 Email:
        your@email.com
    </p>

    <p>
        🌐 Website:
        www.yoursite.com
    </p>

    <p>
        📍 Location:
        Kerala, India
    </p>

    <p>
        👨‍💻 Developer:
        Fawaz
    </p>

</div>


</div>

{% endblock %}
