{% extends 'worldcup/base.html' %}

{% block content %}

<div class="container">


<h2 class="text-center mb-4">
    Privacy Policy
</h2>

<div class="card p-4">

    <p>
        We respect your privacy and do not collect personal information
        unless voluntarily provided.
    </p>

    <p>
        This website may use cookies and third-party services such as
        Google AdSense to improve user experience and display relevant ads.
    </p>

    <p>
        By using this website, you agree to this privacy policy.
    </p>

</div>


</div>

{% endblock %}
